html, body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.canvas-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.canvas-container #canvas {
  margin: auto;
}

#p5_loading {
  color: white;
}

canvas {
  opacity: 1;
  transition: opacity 2.5s;
}

canvas.sleeping {
  opacity: 0.5;
}
